.elementor-hover-video-container {
    width: 100%;
    max-width: 100%;
    height: auto; /* optional: agar fleksibel */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  

.elementor-hover-image,
.elementor-hover-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.elementor-hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: opacity 0.3s ease;
}

.elementor-hover-video {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.elementor-hover-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.elementor-hover-video-container:hover .elementor-hover-video {
    opacity: 1;
    /* pointer-events: auto; */
}

.elementor-hover-video-container:hover .elementor-hover-image {
    opacity: 0;
}

.elementor-hover-video-container:hover .elementor-hover-overlay {
    opacity: 1;
}
